#!/usr/bin/make -f
# export DH_VERBOSE = 1

export ROOT = debian/tmp
export CHART_FOLDER = $(ROOT)/usr/lib/helm

%:
	dh $@

override_dh_auto_build:
	# Create the TGZ file.
	apt install curl -y
	make build-helm-charts

override_dh_auto_install:
	# Install the app tar file.
	install -d -m 755 $(CHART_FOLDER)
	install -p -D -m 755 _output/charts/*.tgz $(CHART_FOLDER)

override_dh_auto_test:
